body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
  background-color: lightgray;
  padding: 1rem;
  margin-bottom: 1rem;
}

#search-field {
  flex: 8;
}

#search-button {
  flex: 1;
  margin-left: 1rem;
}

#app {
  width: 90%;
  display: flex;
}

#country-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.country-card {
  cursor: pointer;
  border: 1px black solid;
  padding: 0.5rem;
  margin: 0.25rem;
}

.country-card:hover {
  background-color: azure;
}

.country-card.selected {
  background-color: darkturquoise;
}

.country-card-name {
  margin: 0;
}

#country-global-info-panel {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: max-content;
  border: 1px black solid;
  margin: 0.25rem 0 0 1rem;
  padding: 1rem;
}

#country-global-info-panel p {
  margin: 0 0 0.5rem 0;
}

#detailed-info-message {
  font-size: 2rem;
  text-align: center;
  align-self: center;
}

#flag-image {
  max-width: 60%;
  border: 1px black solid;
  align-self: center;
  margin-bottom: 1rem;
}

.details-field-label {
  font-weight: bold;
}
